*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

.container{
    margin: auto;
    max-width: 1200px;
    text-align: center;
}

h1{
    color: #E53273;
    font-size: 3em;
    margin: 35px 0;
}

p {
    font-weight: 400;
    margin-bottom: 60px;
}

/* .photos{
    margin: auto;
} */

.author{
    color: white;
    height: 100px;
    width: calc(100% / 3 - 26px);
    background-color: black;
    float: left;
    display: inline-block;
    margin: 26px 13px;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.author:hover{
    box-shadow: 0 0 10px 1px #E53273;
}


.author img{
    height: 100%;
    float: left;
}

.imgs:hover{
    cursor: pointer;
}


.data{
    padding-top: 15px;
    padding-left: 120px;
    text-align: left;
}

.name, .profession, .email{
    display: inline-block;
    margin-bottom: 5px;
}

.email{
    color: #5e9ea8;
}

.email:hover{
    text-decoration: underline;
    cursor: pointer;
}